{% extends "basefront.html.twig" %}
       
{% block body %}
 <div class="container">
                <div class="text-end">
                 <a href=" {{  path('logout') }}"> Se deconnecter </a>
                 </div>
<h2> Nouvelle Formation : </h2>
{{ form_start(formformation) }}

{{ form_end(formformation) }}




{% endblock %}