{% extends "basefront.html.twig" %}
{% block body %}

        <div class="container">
                <div class="text-end">
                 <a href=" {{  path('logout') }}"> Se deconnecter </a>
                 </div>
<h2> Playlists : </h2>

<div class="form-group">
    {{ form_label(formplaylists) }}


{{ form_start(formplaylists)}}

{{ form_end(formplaylists) }}

</div>

{% endblock %}